.chatform-button {
    margin-top: 20px;
    padding: 5px 30px;
    background-color: rgb(198, 235, 235);
    font-size: 15px;
};
.chatform {
  
    margin-top: 15px;
};
::placeholder {
    text-align: center
}
